<h3>Please load each side of it with a separate buttons on Top</h3>

<button mat-button [routerLink]="[{ outlets: { left: ['table-ngrx'] } }]" routerLinkActive="active">NGRX
  table
</button>
<button mat-button [routerLink]="[{ outlets: { right: ['table-ngxs'] } }]" routerLinkActive="active">NGXS
  table
</button>


<div class="flex-row">
  <div class="flex-item">
    <router-outlet name="left"></router-outlet>
  </div>
  <div class="flex-item">
    <router-outlet name="right"></router-outlet>
  </div>
</div>


